/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/*.DS_Store
**/uploads/business_logos/
**/uploads/documents/
**/uploads/img/
**/uploads/media/
**/uploads/invoice_logos/
**/uploads/UltimatePOS/
**/uploads/temp/
**/css/
**/fonts/
**/images/
**/modules/
**/mix-manifest.json
**/.scribe
**/docs/
**/js/skins/
**/js/icons/
**/*.pm3
**/.DS_Store